.empresas-placeholder {
  color: white;
  padding: 100px 50px;
  text-align: center;
}
.empresas-container{
  padding:40px;
  text-align:center;
}

.empresas-grid{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap:30px;
  margin-top:40px;
}

.empresa-card{
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.empresa-logo{
  width:100px;
  margin-bottom:10px;
}