.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #e2e8f0; 
}

.navbar-logo h2 {
  color: #0bcff7;
  font-size: 30px;
}

.navbar-search input {
  border: none;
  outline: none;
  margin-left: 10px;
  font-size: 20px;
  width: 100%;
}

.navbar-links a {
  text-decoration: none;
  color: #333;
  margin-left: 20px;
  font-weight: 500;
  font-size: 20px;
}