.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 80px 20px;
  color: white;
}

.banner-title {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 20px;
}

.text-highlight {
  color: #ffffff;
}

.banner-subtitle {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 50px;
  background-color: rgba(28, 34, 49, 0.5); /* Azul bem escuro transparente */
  backdrop-filter: blur(4px); /* Embaça o que tem atrás da caixa */
  padding: 15px 30px;
  border-radius: 12px;
  display: inline-block; /* Para a caixa não ocupar a tela toda */
}

.banner-search-box {
  display: flex;
  align-items: center;
  background-color: #fafafa;
  border-radius: 50px;
  padding: 8px 10px 8px 20px;
  width: 100%;
  max-width: 600px;
}

.banner-search-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: rgb(10, 10, 10);
  font-size: 22px;
  margin-left: 10px;
}

.search-button {
  background-color: #be1edf; 
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  padding: 12px 30px;
  cursor: pointer;
}