.cargo-container {
  padding: 40px;
  text-align: center;
  background-color: #e7edf7;
  min-height: 100vh;
}

.cargo-container h1 {
  color: rgb(102, 17, 199);
  margin-bottom: 30px;
  font-size: 50px;
}


.cargo-content {
  background: #ffffff;
  border-radius: 16px;
  padding: 50px;
  max-width: 700px;
  margin: 0 auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}


.grafico-container {
  margin-top: 40px;
}